body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

input[type=number],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  display: block;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 25%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1000px;
}

.game-header {
  display: block;
  width: 100%;
  max-width: 555px;
  margin: 10px 30px 35px 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  background-image: linear-gradient(to right, green, yellow);
  border: 1px solid black;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}

.game-info {
  margin-left: 20px;
}

.button {
  background-color: rgb(6, 146, 11);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.board {

  width: 100%;
  display: flex;
  justify-content: center
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.cell {
  background: #71b5f5;
  border: 1px solid #fff;
  float: left;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.room-btn {
  transition: all 1s;
  margin: 20px;
}

.create-btn {
  margin: 1.25em;
}

.room-label {
  display: flex;

}

.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

.line-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 15px;
}

.vs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper-room-btn {
  display: flex;
  flex-wrap: wrap;
}

.line-sm {
  width: 20%;
  margin: 15px;
}