version: 2.1
jobs:
  build:
    docker: 
      - image: circleci/node:4.8.2 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run:
          name: update-npm
          command: 'cd Server && sudo npm install -g npm@5'
      - run:
          name: install-npm-wee
          command: 'cd Server && npm install'
      - run:
          name: test
          command: 'cd Server && npm test'